@{
    ViewData["Title"] = "About";
}


<!-- Page Header-->
<header class="masthead" style="background-image: url('/blog/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt nibh id mauris viverra imperdiet. Ut et libero nulla. Mauris non viverra massa. Vestibulum nec enim interdum felis dictum rutrum ac accumsan metus. Nulla facilisi. Nunc justo ante, tempor quis magna in, bibendum consectetur elit. Sed accumsan elit ac nisl congue, vel auctor orci suscipit. Sed semper consectetur nibh, eget auctor magna consectetur eu. Phasellus ut neque elit. Suspendisse finibus sollicitudin diam, id vulputate sapien consequat sit amet. Nulla facilisi. Cras vitae lectus ornare, faucibus elit nec, suscipit neque.

                Maecenas tempor ultricies libero, id maximus elit imperdiet vitae. Sed sem tellus, tincidunt molestie dapibus vitae, laoreet in tortor. Proin mattis id lectus ac pharetra. Suspendisse sit amet felis tellus. Nulla vitae nulla ultricies, convallis enim id, aliquet sapien. In id elit vel lectus mollis ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
        </div>
    </div>
</main>